{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}


<footer id="footer" class="py-3 text-green">
	<div class="container-fluid" id="color">
		<div class="row text-center">
			<div class="col-md-6">
				<i class="fas fa-book-reader fa-2x mr-4"></i>
				<h5>Handmade and original designs</h5>
				<p>Embroidered designs on clothing ready to wear,<br> creative artistic
					and original work, fashionable designs 
				</p>
			</div>
			<div class="col-md-6">
				<i class="fas fa-spa fa-2x mr-4"></i>
				<h5>About me</h5>
				<p> "I am an embroiderer with more than 20 years of experiencie,I create and <br>
					embroid  original designs on clothing br for br people to wear and also art to decorate"
				</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}