<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Product1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product1
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Product2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product2
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Category 1</a>
                <a href="" class="dropdown-item">Category 2</a>
                <a href="" class="dropdown-item">Category 3</a>
                <a href="" class="dropdown-item">Category 4</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Product3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product3
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Category 1</a>
                <a href="" class="dropdown-item">Category 2</a>
                <a href="" class="dropdown-item">Category 3</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="Product4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product4
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Category 1</a>
                <a href="" class="dropdown-item">Category 2</a>
                <a href="" class="dropdown-item">Category 3</a>
                <a href="" class="dropdown-item">Category 4</a>
            </div>
        </li>
    </ul>
</div>